apiVersion: v1
kind: Service
metadata:
  name: edgeflow-redis-service  # ⭐ 앱들이 이 이름으로 접속함
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: edgeflow-redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: edgeflow-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: edgeflow-redis
  template:
    metadata:
      labels:
        app: edgeflow-redis
    spec:
      containers:
        - name: redis
          image: redis:6-alpine  # 가벼운 공식 이미지 사용
          ports:
            - containerPort: 6379
          resources:
            limits:
              memory: "512Mi"    # 로봇 메모리 보호
      nodeSelector:
        edgeflow.io/role: infra